/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20/06/2022, 01:51:29 PM
    Author     : hp
*/
    h1{
       color:red; 
    }   

    span{
        font-size:18px;
        margin: 50px;
        padding: 50px;
        
    }
    
 #thirdDiv{
    background-color: black;
    color:white; 
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 10px solid blue;
}

img{
    width: 400px;    
}
